body{
    background-color: #3C475B;
}
.cms{
    display: flex;
    width:100%;
    justify-content: center;
    flex-direction: row;
    margin-top: 15px;

}
#logo{
    font-size: 24px;
    text-align: center;
    color:#fff;
    margin-top: 20px;
    display: flex;
    padding: 0px 150px;
    justify-content: space-between;
}
#max{
    width:400px;
    height: 600px;
    border:1px #aaa solid;
    list-style: none;
    overflow-y: scroll;
    margin:0 10px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 5px 15px #111;
}
.middle{
    margin-left:20px;
    list-style:none;
}
.middle > .middlelist{
    cursor: pointer;
    /* margin:6px 0; */
    display: flex;
    /* justify-content:  center; */
    flex-direction: column;
    min-height: 30px;
    line-height: 30px;

}
.middle > .middlelist>.middleusername{
    position: relative;
    display: flex;
    align-items: center;
}

.middle > .middlelist >.middleusername > i{
    display: none;
    margin-right: 5px;
    line-height: 30px;
    
}
.min{
    margin-left:30px;
    display: none;
}
.min > li{
    font-size: 14px;
    list-style: circle;
}

.usercontent{
    width:700px;
    height: 420px;
    margin:0 10px;
    border:1px #aaa solid;
    display: flex;
    position: relative;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0px 5px 15px #111;
}
.usercontent h3 {
    margin:10px 0;
}
.opacitytext{
    opacity: 0;
    overflow: hidden;
    width:0;
    height: 0;
    position: absolute;
    top: -9999999999999999999999px;
    left:-99999999999999999999px;
}
#update{
    width:120px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color:#fff;
    background-color: #333;
    font-weight: 600;
    cursor: pointer;
    position: absolute;
    right: 20px;
    bottom:20px;
}
#qrcode{
    width:120px;
    height: 120px;
}
.uname:hover{
    border-bottom: 1px #000 solid;
}
.search{
    width:100%;
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
.search #searchbox{
    width:80%;
    height: 30px;
    border:1px #ccc solid;
    outline: none;
}
.search #searchbtn{
    width:30px;
    height: 30px;
    background-color: #333;
    color:#fff;
    cursor: pointer;
}