.earn {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    width:700px;
    margin: 0 auto;
    margin-top: 50px;
}
.earn > a{
    display: block;
    width:150px;
    height: 150px;
    border-radius: 20px;
    background-color: #1484c4;
    color:#fff;
    text-align: center;
    line-height: 150px;
    font-weight: 600;
    font-size: 20px;
}