.login> form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:45%;
    height: 300px;
    background-image: url('./images/CC02.png');
    margin:0 10px;
    background-size: cover;
    background-position: center;
    position: relative;
    padding-top: 30px;
}
.login> form >.loimg01{
    position: absolute;
    top: 30px;
    left:50%;
    transform: translateX(-50%);
}
.login> form >input{
    width:200px;
    height: 30px;
    margin:10px 0;
    padding: 0 5px;
    outline: none;
    border:none;
    border:1px #ccc solid;
    border-radius: 6px;
}
.login> form > a{
    color:#777;
    font-weight: 600;
}
.login> form >input[type="submit"]{
    border-radius: 8px;
    background-color: #D02132;
    height: 40px;
    color:#fff;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 3px 5px #000;
    outline: none;
    border:none;
    font-size: 18px;
}
.login{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('./images/CC01.png');
    background-size: cover;
    width:100%;
    height: 350px;
    margin:0 auto;
    margin-left: 20px;
}
.login >.register{
    width:45%;
    height: 300px;
    background-image: url('./images/CC02.png');
    margin:0 10px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;flex-direction: column;
    position: relative;
}
.login >.register > a{
    color:#000;
    font-weight: 600;
    font-size: 21px;
}
.login >.register > .reimg01{
    position: absolute;
    top: 30px;
    left:50%;
    transform: translateX(-50%);
}
.login >.register > .reimg02{
    margin-bottom: 15px;
}
.login >.register >a > img{
    width:210px;
}